<!DOCTYPE html>
<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
</head>

<body class="dbground">
    {{> header1}}
    <div class="container-fluid">
        <div class="route">
            <a href="/" class="btn btn-info" role="button">Home</a>
            <a href="/receive" class="btn btn-info" role="button">Receive</a>
    </div><br><br><br>
    <p><h3> Hello {{name}} , Contact detail is Existing Already</h3></p>
    </div>

</body>

</html>